 <!-- Site footer -->
 <footer class="site-footer mt-4 ">
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; Valeriia Rudenko
        </p>
      </div>
<!-- <%-partial('../partials/footer')%> -->
    </div>
  </div>
</footer>
