[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = trikrapka
	email = 57097736+trikrapka@users.noreply.github.com
[core]
	editor = \"C:\\Users\\alex0\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
