<% layout('layout/main') -%>
<% block('title', 'Sign Up') -%>

    <script src="./join.js"></script>
    <script src="./script.js"></script>


    <div class="row col-8"></div>
    <div class="text hi">Hi, cutie!</div>
    <form class="form text" action="" method="post">
        <input class="input" type="text" name="typeofpet" placeholder="Who are you?">
        <input class="input" type="text" name="name" placeholder="Your name">
        <input class="input" type="tel" name="breed" placeholder="Your breed">
        <input class="input" type="email" name="email" placeholder="Your e-mail">
        <input class="input" type="password" name="password" placeholder="Password">
        <input class="input" type="password" name="repeatPassword" placeholder="Repeated password">
        <button class="btn" type="submit">Join</button>
    </form>
